// FONTS
@font-face {
    font-family: "Avenir";
    src: url(../../storage/app/public/fonts/AvenirLTStd-Black.otf)
        format("opentype");
    font-weight: 900;
}
@font-face {
    font-family: "Avenir";
    src: url(../../storage/app/public/fonts/AvenirLTStd-Book.otf)
        format("opentype");
    font-weight: 600;
}
@font-face {
    font-family: "Avenir";
    src: url(../../storage/app/public/fonts/AvenirLTStd-Roman.otf)
        format("opentype");
    font-weight: 400;
}

body {
    font-family: "Avenir";
    font-weight: 400;
}

// COLORS

$primary: #0094c4;
$secondary: #263768;
$dark-grey: #585858;
$light-grey: #9d9d9d;

$dark: #1a1a1a;
$light: #f0f0f0;

$black: #000;
$white: #fff;

// TEXT

h1,
h2,
h3,
h4,
h5 {
    font-family: "Avenir";
    font-weight: 700;
    color: $dark;
}
h6 {
    font-family: "Avenir";
    font-weight: 400;
    color: $dark-grey;
}

p {
    color: $dark;
}

a {
    color: $secondary;
    text-decoration: none;
    transition: 0.3s;
    &:hover {
        color: $primary;
        transition: 0.3s;
    }
}

img {
    width: 100%;
}
