//
// ARTICLES
//

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &-content {
        width: 320px;
        margin-bottom: 24px;
        &-image {
            img {
                width: 100%;
            }
        }
    }
}
