//
// ARTICLES
//

.article {
    margin: 12px 0;
    span i {
        color: $light-grey;
    }
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &-content {
        width: 320px;
        margin-bottom: 24px;
        &-image {
            img {
                width: 100%;
            }
        }
        &-infos-more {
            display: flex;
            justify-content: space-between;
        }
    }
    @media screen and (max-width: 768px) {
        &-content {
            display: flex;
        }
        &-content-image {
            height: fit-content;
            a img {
                width: 120px;
            }
        }
        &-content-infos {
            height: 75px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h4 {
                margin: 0;
                padding-left: 10px;
                font-size: 12px;
                text-overflow: ellipsis;
            }
        }
        &-content-infos-more {
            padding-left: 10px;
            font-size: 10px;
        }
    }
}
.home-articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &-content {
        width: 320px;
        margin-bottom: 24px;
        &-image {
            img {
                width: 100%;
            }
        }
        &-infos-more {
            display: flex;
            justify-content: space-between;
        }
    }
    @media screen and (max-width: 768px) {
        &-content {
            display: flex;
        }
        &-content-image {
            height: fit-content;
            a img {
                width: 120px;
            }
        }
        &-content-infos {
            height: 75px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h4 {
                margin: 0;
                padding-left: 10px;
                font-size: 12px;
                text-overflow: ellipsis;
            }
        }
        &-content-infos-more {
            padding-left: 10px;
            font-size: 10px;
        }
    }
    @media screen and (max-width: 991px) {
        .home-articles-content:nth-child(3) {
            display: none;
        }
    }
}
.home-articles-carousel {
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    display: flex;
    margin: 24px 0;
    &-content {
        min-width: 290px;
        display: inline-block;
        scroll-snap-align: start;
        margin: 0 12px 12px 12px;
        border-bottom: 1px solid $dark-grey;
        &-image {
            position: relative;
            span {
                position: absolute;
                top: 0;
                left: 0;
                background-color: $primary;
                color: $light;
                padding: 6px;
                border-bottom-right-radius: 16px;
            }
        }
    }
    /* width */
    &::-webkit-scrollbar {
        height: 8px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 5px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $primary;
        border-radius: 5px;
    }
}
